.actividad-imageContainer {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
}

.actividad-info {
  padding: 16px;

  &-name {
    font-size: 20px;
    font-weight: bold;
  }

  .actividad-p1 {
    font-size: 1.2em;
    margin: 10px 0;
  }

  .actividad-p2 {
    font-size: 26px;
    margin-top: 1em;
    color: #ff0000;
  }
}

.BtnLoQuiero-btn, .BtnLoQuiero-btn-02{
  width: 15%;
  color: #fff;
    font-size: 1em;
    margin-top: 5%;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    background: linear-gradient(220.55deg, #3793FF 0%, #0017E4 100%);

  &:hover {
    cursor: pointer;
    background: linear-gradient(220.55deg,#0017E4 0%, #3793FF 100%);
  }
}

.BtnLoQuiero-btn-02{
  margin-left: 5%;
}